<div class="container-fluid">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            {{loginForm.value | json}}
            <hr>
            {{userModel | json}}
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3 class="app-title">
                Login <fa name="cog" animation="spin"></fa>
            </h3>
            <form #loginForm="ngForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email" value="" name="email" [(ngModel)]="userModel.email">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="******" value="" name="password"
                        [(ngModel)]="userModel.password">
                </mat-form-field>
                <hr>
                <button mat-raised-button color="primary" [disabled]="btnStatus" type="submit" (click)="submit()">Login</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>